.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-button{
  color: white;
  background-color: blue;
  text-align: center;
  width: 100px;
  height: 50px;
  border:0;
  border-radius: 10px;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */

}

.modal-content{
  background-color: white;
  z-index: 99;
  /* border: 1px solid black; */
  height: 80vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 0;
  border-radius: 20px;
  
}
form{
  width: 70%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

form>div{
  width: 100%;
  
}

form>div>button{
  height: 35px;
  width: 80px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: 0;
}

input{
  height: 30px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}